$nc-container-width: 117rem;
$nc-img-path: 'pages/redesign/assets/';

$nc-desktop-small: 1439px;
$nc-desktop-xsmall: 1170px;
$nc-tablet-large: 1024px;
$nc-tablet: 768px;
$nc-mobile: 660px;

$nc-mobile-small: 350px;

$nc-font-family-primary: 'Roboto', sans-serif;
$nc-font-family-optional: 'Oswald', sans-serif;
